<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add item</title>
</head>
<body>
<code>
    <form action="" method="POST">
        <p><b><h2>Add item</h2></b></p>
        <p>
            <label for="name">Product</label>
            <input type="text" name="name">
        </p>
        <p>
            <label for="price">Price  </label>
            <input type="number" name="price" min="0.01" max="1000000" step="0.01">
        </p>
        <p>
            <label for="count"> Amount  </label>
            <input type="number" name="count">
        </p>
        <p>
            <label for="comment"> Comment </label>
            <input type="text" name="comment">
        </p>

        <p>
            <input type="submit" value="Add">
            <input type="reset" value="Clear">

        </p>
        </form>
    <a href='/'>[Main page]</a>


</code>
</body>
</html>