<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить позицию</title>
</head>
<body>

    <form action="" method="post">
        <p>
	    <label for="name">Название</label>
	    <input type="text" name="name">
	</p>
	<p>
	    <label for="price">Цена</label>
	    <input type="text" name="price">
	</p>
        <p>
	    <label for="quantity">Количество</label>
	    <input type="text" name="quantity">
	</p>
        <p>
	    <label for="comment">Комментарий</label>
	    <input type="text" name="comment">
	</p>
	<p>
	    <input type="submit">
	</p>
    </form>

</body>
</html>