{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>
{% for p in post %}
        <a href="#">
            <h2>{{p}}</h2>
        </a>
        <span class="badge badge-primary">{{post[p]}}</span>
        <hr>
    {% endfor %}

<form method="post">
    <div class="form-group">
        <label for="id">id</label>
        <input type="text" name="id"
               placeholder="vvedite id" class="form-control"
               value="{{ request.form['id'] }}"></input>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}