
table {
   border-collapse: collapse; 
   line-height: 1.1;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
   color: #0C213B;
 }
 th {
   padding: 10px; 
   border: 1px solid #A9E2CC;
 }
 td {
   font-size: 0.8em;
   padding: 5px 7px;
   border: 1px solid #A9E2CC;
 }